<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post_picture.post_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post_picture.image %>
</p>

<%= link_to 'Edit', edit_post_picture_path(@post_picture) %> |
<%= link_to 'Back', post_pictures_path %>
